# GEOL 2001: Solar Radiation Lab

#### Written by Abby Eckland, October 2020
#### Questions? Contact: abigail.eckland@colorado.edu

### Learning Goals:
- Become familiar with terms: zenith angle, solar flux, radiation, energy, and power
- Draft an excel workbooks from scratch to model a natural phenomenon that varies is space and time. 
- Devise excel formulas to be able to calculate solar flux on variations of Earthâ€™s tilts, latitude and time of day for the following days (a) winter solstice, (b) summer solstice, and (c) Fall/Spring equinox. 
- Compare and contrasts the time of year, time of day, and the latitude for impacts on the amount of solar insolation a location will receive (hint: will need this later for discussing glacier growth and melt). 
- ***New:*** *Evaluate and apply lessons learned to calculate solar flux using Python Code in Jupyter Notebooks*

### Skills
- Dimensional analysis
- Working with data
- Unit conversions
- Figure making in excel
- ***New:*** *Reading in and using data using Python in Jupyter Notebooks*
- ***New:*** *Data visualization in Jupyer Notebooks*

## Part 1: Modeling the Solar Flux by Latitude
We want to model the solar flux at various latitudes on earth. To do this, we will use Python in a Jupyter Notebook and the following constants and information.

Constants:
- Solar constant = 1370 $W/m^2$
- Axial Tilt = $23.45{^\circ}$

When the sun's radiation hits a surface at an angle, such as the surface of the earth, the angle between incoming radiation that is perpendicular to the surface is called the **zenith angle, Z**. 

![Zenith Angle Concept](data/zenith_angle.png)

You can use the following equations to calculate the midday (noon) solar flux at any zenith angle **(Eq. 1)**:

$$q(Z) = S*cos(Z)$$ 

where q is the insolation, Z is the zenith angle, and S is the solar constant. *Remember, the angle of the earth's tilt relative to the ecliptic will vary based on time of year. In summer in the northern hemisphere, the earth is tilted toward the sun by $23.45{^\circ}$. In winter in the northern hemisphere, the earth is tilted away from the sun by $23.45{^\circ}$.* At the equinox it is neither tilted toward nor away from the sun. 

![Earth's Annual Rotation](data/earth_annual_rotation.png)
![Earth's tilt](data/axial_tilt.png)

#### **Step 1**
Write code to model the insolation, or solar flux, at latitudes every $10{^\circ}$ between $-90{^\circ}$ and $90{^\circ} N$. To start, we will just consider the solar flux at local noon - when the sun is highest in the sky. 

Create an array called "Latitude" of latitude values between $-90{^\circ}$ and $90{^\circ} N$.

In [2]:
# Import packages
import pandas as pd
import numpy as np

In [3]:
# Create pandas dataframe
Q_by_lat = pd.DataFrame()

In [4]:
# Create column called "Latitude" and fill with values from -90 to 90.
Q_by_lat['Latitude (N)'] = np.arange(-90, 100, 10)

In [5]:
# Preview the dataframe
Q_by_lat

    Latitude (N)
0            -90
1            -80
2            -70
3            -60
4            -50
5            -40
6            -30
7            -20
8            -10
9              0
10            10
11            20
12            30
13            40
14            50
15            60
16            70
17            80
18            90

#### **Step 2**

Use Python to calculate insolation at noon on both equinoxes (spring and fall) and both solstices (summer and winter). 

Hint: break calculations and equations down into smaller steps and go column by column to get the insolation for each of these times of the year at all latitudes. You will need to repeat your calculations for summer solstice, winter solstice, and the equinoxes. 

This notebook will show you how to calculate the insolation during the summer solstice.

In [14]:
Q_by_lat['Axial Tilt (deg)'] = 23.45
Q_by_lat.head()

   Latitude (N)  Axial Tilt (deg)
0           -90             23.45
1           -80             23.45
2           -70             23.45
3           -60             23.45
4           -50             23.45

In [21]:
Q_by_lat['Zenith Angle (deg)'] = Q_by_lat['Latitude (N)'] - Q_by_lat['Axial Tilt (deg)']
Q_by_lat.head()

   Latitude (N)  Axial Tilt (deg)  Zenith Angle (deg)  Zenith Angle (rad)
0           -90             23.45             -113.45            1.980076
1           -80             23.45             -103.45            1.805543
2           -70             23.45              -93.45            1.631010
3           -60             23.45              -83.45            1.456477
4           -50             23.45              -73.45            1.281944

In [22]:
Q_by_lat['Zenith Angle (rad)'] = np.radians(Q_by_lat['Zenith Angle (deg)'])
Q_by_lat.head()

   Latitude (N)  Axial Tilt (deg)  Zenith Angle (deg)  Zenith Angle (rad)
0           -90             23.45             -113.45           -1.980076
1           -80             23.45             -103.45           -1.805543
2           -70             23.45              -93.45           -1.631010
3           -60             23.45              -83.45           -1.456477
4           -50             23.45              -73.45           -1.281944

In [24]:
Q_by_lat['Solar Constant (W/m^2)'] = 1370
Q_by_lat.head()

,Latitude (N),Axial Tilt (deg),Zenith Angle (deg),Zenith Angle (rad),Solar Constant (W/m^2)
0,-90,23.45,-113.45,-1.980076,1370
1,-80,23.45,-103.45,-1.805543,1370
2,-70,23.45,-93.45,-1.631010,1370
3,-60,23.45,-83.45,-1.456477,1370
4,-50,23.45,-73.45,-1.281944,1370

In [ ]:
Q_by_lat['q Summer (W/m^2)'] =